@media (min-width: 768px) and (max-width: 1200px) {
	.text-nav,
	.avt-img {
		display: none;
	}
	.text-banner {
		text-shadow: none;
		top: 6rem;
		left: 35%;
	}
	.text-banner h1 {
		text-transform: capitalize;
		font-size: 40px;
	}
	/* navar */
	#nav-bar a:link,
	a:visited {
		padding: 16px;
		margin-right: 1rem;
		padding-bottom: 0px;
	}
	#nav-bar {
		margin-top: 10px;
	}
	/* info */
	#personal-info {
		padding-right: 40px;
	}
	#target {
		padding-top: 40px;
	}
	/* change position-story activities */
	.order {
		order: -1;
	}
	.order0 {
		order: -1;
	}
	.order2 {
		order: 1;
	}
	.order12 {
		order: -1;
	}
	/* level skill */
	.md-content {
		padding-bottom: 8rem;
	}
	/* hobby box */
	.hobby-list {
		display: grid;
		grid-template-columns: repeat(3, 35%);
		row-gap: 1px;
		column-gap: 20px;
		padding-bottom: 70px;
	}
	.sticker {
		width: 70px;
		height: 60px;
		font-size: 25px;
		padding-top: 15px;
	}
	/* certificate */
	.cer-content {
		flex-direction: column;
		gap: 30px;
	}
	/* project */
	tr td:first-child {
		width: 20%;
	}
	/* project charter */
	.border0 {
		border-right: none !important;
	}
	.border1 {
		order: 1;
		margin-top: 0;
		border-top: 20px solid blue;
		border-bottom: none !important;
		border-right: 14px solid blue;
	}
	.border2 {
		margin-top: 0;
		margin-bottom: 0;
		grid-row: 1/ 2;
		border-right: 14px solid blue;
	}
	.border3 {
		order: 1;
		border-left: none !important;
		border-top: 20px solid blue;
		border-right: 14px solid blue;
	}
	.border4 {
		margin-top: 0;
		border-top: none !important;
		border-left: 16px solid blue;
	}
	/* footer */
	#footer a:link,
	a:visited {
		text-align: center;
		padding-left: 2rem;
		padding-right: auto;
	}
}
